.burgerContainer {
    display: inline-block;
    vertical-align: top;
}

body {
    background-image: url("../img/burger.jpg");
    font-family: "Coiny", cursive, serif;
    font-size:24px;
}

#burger-image{
    width: 20%;
    position:relative;
    left:40%
}